<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplicationProjectX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplicationProjectX.Properties.Settings.DbPath"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=H:\C#\Github\WpfApplicationProject\DatenbankCS.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsFormsApplicationProjectX.Properties.Settings.DbPathChris"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\@Schule\C#\GitRep\DatenbankCS.accdb" />
        <add name="WindowsFormsApplicationProjectX.Properties.Settings.DbPathHipp"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Database1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplicationProjectX.Properties.Settings>
            <setting name="Einstellung" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplicationProjectX.Properties.Settings>
    </userSettings>
</configuration>